<!DOCTYPE html>
<html lang="en">
<head>
  {{>headSection}}
</head>
<body>
  {{>navbar}}
   <!-- Home page --> 
   <div class="container-fluid main_header">
    <div class="col">
        <div class="col-md-10 col-12 mx-auto">
            <div class="col">         
                <!-- Left side -->
                <div class="col-md-6 col-12 main_header_right center">
                  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">

                        <img src="./img/weatherabout.jpg" class="w-100 aboutImg" alt="...">
                      </div>
                    </div>
                  </div>
              </div>
                   <!--Right side  -->
                <div class="col-md-6 col-12 main_header_left center">
                    <h1>Who we are</h1>
                    <h4>Weather Info was launched in may 2021.
                      It is one of the best services platform in the word, with presence in all arond the word.The platform helps usrs identify weather information any time, any where.
                    </h4>
                    <h4>We also provide history section which maintain all the previous records which helps them in the feature to see weather past condition</h4>
                    <hr>
                    <h1>Our Developers</h1>
                    <h4>We have leadership team. They helps verity of areas i.e one responsible for marketing and growth at weatherInfo. one is expert in diffrent technology and develop at WeatherInfo  </h4>
                    <hr>
                    <a href="https://github.com/DhruvalBhuva" target="_blank"><button>More Info</button></a>
                </div>
            </div>
        </div>
    </div>
   </div>
    <!-- footer -->
{{>footer}}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

 
</body>
</html>