<!DOCTYPE html>
<html lang="en">
<head>
    {{>headSection}}
</head>
<body>
 {{>navbar}}  

   <!-- Home page --> 
   <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto div-center">
          <div class="main_content">  
            <form action="localhost:8000/weather" method="post" class="temp_form">
                <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                <input type="submit" value="search" id="submitBtn" >
            </form>
          </div>
          <div class="tempInfo">
              <div class="top_layer">
                  <p id="day">Tuesday</p>
                  <p id="today_data">13 oct</p>
              </div>
              <div class="main_layer">
                      <p id="city_name">Get Output Here</p>
                    <div class="middle_layer data_hide">
                      <p id="temp"><span>0</span> <sup>o</sup>C</p>
                      <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                  </div>
              </div>
          </div>
          
        </div>
    </div>
</div>
{{>footer}}

<script src="js/main.js"></script>
    <!-- Optional JavaScript -->    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>